/*tamaño de imagenes en carrusel*/
.d-block {
    width: 1fr;
    height: 450px;
    overflow: hidden;
}

.imagenees {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    /*separación */
    justify-content: space-around;

    .tituloProducto {
        color: green;
        margin-bottom: 20px;
        border-top: outset 5px rgba(0, 128, 0, 0.849);
    }

    /*imagen del producto*/
    .imgProduct {
        width: 100px;
        height: 200px;
        padding-bottom: 10px;
        border-bottom: groove 2px rgb(150, 192, 0);
        animation-name: shadow-drop-center;
        animation-duration: 2s;

        /*Animación sombra para las imagenes del producto*/
        .shadow-drop-center {
            animation: shadow-drop-center .4s cubic-bezier(.25, .46, .45, .94) both
        }

        @keyframes shadow-drop-center { 
            0% { box-shadow: 0 0 0 0 transparent} 100% { box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35)}
        }
        /*termina sombra*/
    }
}

.parrafoProducto {
    margin: 15px 50px 15px 50px;
    padding: 15px 40px 15px 40px;
    font-size: 15px;
    background-color: rgba(235, 229, 229, 0.452);
    transition: background ease-in-out 0.3;
}

/*Transformación cambio de color parrafo del producto*/
.parrafoProducto:hover {
    background-color: #78C63B;
}